<<<<<<< HEAD
/* Add a black background color to the top navigation
=======
/* Add a black background color to the top navigation */
>>>>>>> 72d06d269879743e6b20e749abfc61902c8c1c11
.topnav {
    background-color: #F4F1F1;
    overflow: hidden;
    text-align: center;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 72d06d269879743e6b20e749abfc61902c8c1c11


/* color of navigation font */
link {
    color: #1D1A1A;
}
/* Style the links inside the navigation bar */
<<<<<<< HEAD


nav {
    float: right;
    color: white;
    background-color: white;
    margin: 0;
    padding: 0;
=======
.topnav a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
    text-align: right;
>>>>>>> 72d06d269879743e6b20e749abfc61902c8c1c11
}

img {
    float: left;
    width: 30%;
}

#dropdown {
    text-align: right;
}
h1 {
    color: mediumseagreen;
}
body {
<<<<<<< HEAD
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
   /* margin for the different columns  */
=======
    background-color: #D9D4D4;
    position: fixed;
    width: 100%;
    height: 100%;
   
>>>>>>> 72d06d269879743e6b20e749abfc61902c8c1c11
}
h2 {
    font-size: 40px;
    color: mediumseagreen;
    text-align: center;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: mediumseagreen;
    color: white;
    text-align: right;
}
/* Style the footer */
footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: white;
}