/* Add a black background color to the top navigation
.topnav {
    background-color: #F4F1F1;
    overflow: hidden;
    text-align: center;
} */


/* color of navigation font */
link {
    color: #1D1A1A;
}
/* Style the links inside the navigation bar */


nav {
    float: right;
    color: white;
    background-color: white;
    margin: 0;
    padding: 0;
}

img {
    float: left;
    width: 30%;
}

#dropdown {
    text-align: right;
}
h1 {
    color: mediumseagreen;
}
body {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
   /* margin for the different columns  */
}
h2 {
    font-size: 40px;
    color: mediumseagreen;
    text-align: center;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: mediumseagreen;
    color: white;
    text-align: right;
}
/* Style the footer */
footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: white;
}